body {
  background-color: #df7861;
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-size: 19px;
  text-decoration: underline;
}

input {
  background-color: white;
  border-radius: 4px;
  color: #df7861;
  transition: ease-in-out;
  padding: 10px;
  border-width: 0px;
}

.search-button {
  margin-left: 30px;
  padding-right: 30px;
  background-color: #d4e2d4;
  float: right;
}

.search-button:hover {
  background-color: white;
}

.button-1 {
  background-color: #d4e2d4;
  border-radius: 4px;
  color: #df7861;
  transition: ease-in-out;
  padding: 10px;
  border-width: 0px;
  margin-left: 8px;
}

.button-1:hover {
  background-color: white;
}

.celcius{
  Float:right;
  background-color: #d4e2d4;
  border-radius: 4px;
  color: #df7861;
  transition: ease-in-out;
  padding: 10px;
  border-width: 0px;
  margin-right: 8px;
  --bs-link-color: #df7861;
}

.celcius:hover {
  background-color: white;
}


.fahrenheit{
  Float:left;
  background-color: #d4e2d4;
  border-radius: 4px;
  color: #df7861;
  transition: ease-in-out;
  padding: 10px;
  border-width: 0px;
  margin-right: 8px;
  --bs-link-color: #df7861;
  
}

.fahrenheit:hover {
  background-color: white;
}


.unit {
font-size: 12px;
}

.afterSearch {
  margin: 0 auto;
  background-color: #fcf8e8d2;
  text-align: center;
  color: #df7861;
  padding-bottom: 7px;
  margin: 0 auto;
  max-width: 940px;
  margin-top: 30px;
}

h1 {
  text-align: center;
  color: #df7861;
  background-color: #ecb390;
  font-weight: 900;
  color: #fcf8e8;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dateformat {
  font-size: 10px;
  padding-top: 15px;
}

.description {
  text-align: center;
  font-size: 12px;
  margin-top: -10px;
  text-transform:capitalize;
}

.wind {
  text-align: center;
  font-size: 12px;
  margin-top: -10px;
}

.humidity {
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
  margin-top: -15px;
}

.temperature {
  text-align: center;
  vertical-align: bottom;
  font-size: 54px;
  font-weight: 600;
}

.unit {
  text-align: center;
}

.forecast {
  text-align: center;
  color: #df7861;
  padding-bottom: 7px;
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 16px;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 13px;
}

.dateformat {
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
}

.row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  max-width: 940px;
  margin: 0 auto;
}

.container {
  --bs-gutter-x: 0em;
}


footer {
  font-size: 10px;
  background-color: #df7861;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
text-decoration: none;
color: #df7861;
}

a:active{
text-decoration: none;
}

img { 
  max-width: 90px;
  margin: auto 0
}